CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_CDA_ACCESS_TOKEN=
CONTENTFUL_CPA_ACCESS_TOKEN=
UNIFORM_API_HOST=https://uniform.app
UNIFORM_CLI_BASE_URL=https://uniform.app
UNIFORM_API_KEY=
UNIFORM_PROJECT_ID=